Crear tabla mi_primerita_base_de_datos

In [2]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_base_de_datos')


mycursor = cnx.cursor()
sql = "create schema mi_primerita_base_de_datos"
try:
    mycursor.execute(sql)
    #mycursor.commit()
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1007 (HY000): Can't create database 'mi_primerita_base_de_datos'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'mi_primerita_base_de_datos'; database exists

In [9]:
query_zapatillas = '''CREATE TABLE zapatillas (
	id_zapatilla INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    modelo VARCHAR(45) NOT NULL,
    color VARCHAR(45) NOT NULL
	);'''

Query crear tabla zapatillas

In [10]:
try:
    mycursor.execute(query_zapatillas)
    #mycursor.commit()
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

Crear una función para crear tablas independientemente del contenido de la tabla

In [12]:
def crear_tablas(query_tabla):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_base_de_datos')


    mycursor = cnx.cursor()
    try:
        mycursor.execute(query_tabla)
    #mycursor.commit()
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [15]:
crear_tablas(query_clientes)

In [14]:
query_clientes =''' CREATE TABLE clientes (
	id_cliente INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    nombre VARCHAR(45) NOT NULL,
    numero_teléfono INT(9) NOT NULL,
    email VARCHAR(45) NOT NULL,
    direccion VARCHAR(45) NOT NULL,
    ciudad VARCHAR(45),
    provincia VARCHAR(45) NOT NULL,
    pais VARCHAR(45) NOT NULL,
    codigo_postal VARCHAR(45) NOT NULL
	);'''

In [16]:
tabla_empleados = '''CREATE TABLE empleados (
	id_empleado INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    nombre VARCHAR(45) NOT NULL,
    tienda VARCHAR(45) NOT NULL,
    salario INT,
    fecha_bajo_incorporacion DATE NOT NULL
    );'''

In [18]:
crear_tablas(tabla_empleados)

In [19]:
tabla_facturas = '''CREATE TABLE facturas (
	id_factura INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    numero_factura VARCHAR(45) NOT NULL,
    fecha DATE NOT NULL,
    id_zapatilla INT NOT NULL,
    id_empleado INT NOT NULL,
    id_cliente INT NOT NULL,
    CONSTRAINT FK_facturas_zapatillas 
		FOREIGN KEY (id_zapatilla)
	REFERENCES zapatillas(id_zapatilla),
     CONSTRAINT FK_facturas_empleados 
		FOREIGN KEY (id_empleado)
	REFERENCES empleados(id_empleado),
     CONSTRAINT FK_facturas_clientes 
		FOREIGN KEY (id_cliente)
	REFERENCES clientes(id_cliente)
    );'''

In [20]:
crear_tablas(tabla_facturas)

In [3]:
config = {
  'user': 'root',
  'password': 'AlumnaAdalab',
  'host': '127.0.0.1',
  'database': 'tienda',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cnx.close()