1.Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. ¿Qué BBDD tenemos en nuestro servidor?

In [ ]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='118lion27',
                              host='127.0.0.1',
                              database='northwind')

print(cnx)
#cnx.close()

:

In [4]:

mycursor = cnx.cursor() #activamos el cursor

mycursor.execute("SHOW DATABASES") #ejecutamos la query

for x in mycursor: #vemos todas nuestras bases de datos dentro de nuestro mysql
  print(x)

('ejerciciocreacióntablas',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('mysql',)
('northwind',)
('performance_schema',)
('proyecto1',)
('sakila',)
('spotify',)
('sql_repaso_schema',)
('sys',)
('tienda',)
('world',)

2.Empezemos a explorar la BBDD de Northwind. ¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. Guarda el resultado de los nombres de la tablas en una lista.

In [5]:
mycursor = cnx.cursor() #activamos cursor

mycursor.execute("SHOW TABLES") #pedimos que nos muestre las tablas de northwind
tablas = []
for x in mycursor: 
    list(x)
    tablas.extend(x)

In [6]:
print(tablas)

['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders', 'products', 'region', 'shippers', 'suppliers', 'territories']

3.Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

In [8]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="118lion27",
  database="INFORMATION_SCHEMA"
  ) #nos conectamos a la base de datos de INFORMATION_SCHEMA

#Iniciamos el cursor y lo almacenamos en una variable llamada "mycursor". 
mycursor = mydb.cursor()

mycursor.execute("SELECT TABLE_NAME, COLUMN_NAME FROM COLUMNS WHERE TABLE_SCHEMA = 'northwind'") # ejecutamos la query

for x in mycursor: 
  print (x)

('categories', 'category_id')
('categories', 'category_name')
('categories', 'description')
('categories', 'picture')
('customer_customer_demo', 'customer_id')
('customer_customer_demo', 'customertype_id')
('customer_demographics', 'customer_desc')
('customer_demographics', 'customer_type_id')
('customers', 'address')
('customers', 'city')
('customers', 'company_name')
('customers', 'contact_name')
('customers', 'contact_title')
('customers', 'country')
('customers', 'customer_id')
('customers', 'fax')
('customers', 'phone')
('customers', 'postal_code')
('customers', 'region')
('employee_territories', 'employee_id')
('employee_territories', 'territory_id')
('employees', 'address')
('employees', 'birth_date')
('employees', 'city')
('employees', 'country')
('employees', 'employee_id')
('employees', 'extension')
('employees', 'first_name')
('employees', 'hire_date')
('employees', 'home_phone')
('employees', 'last_name')
('employees', 'notes')
('employees', 'photo')
('employees', 'photo_path')
('employees', 'postal_code')
('employees', 'region')
('employees', 'reports_to')
('employees', 'title')
('employees', 'title_of_courtesy')
('order_details', 'discount')
('order_details', 'order_id')
('order_details', 'product_id')
('order_details', 'quantity')
('order_details', 'unit_price')
('orders', 'customer_id')
('orders', 'employee_id')
('orders', 'freight')
('orders', 'order_date')
('orders', 'order_id')
('orders', 'required_date')
('orders', 'ship_address')
('orders', 'ship_city')
('orders', 'ship_country')
('orders', 'ship_name')
('orders', 'ship_postal_code')
('orders', 'ship_region')
('orders', 'ship_via')
('orders', 'shipped_date')
('products', 'category_id')
('products', 'discontinued')
('products', 'product_id')
('products', 'product_name')
('products', 'quantity_per_unit')
('products', 'reorder_level')
('products', 'supplier_id')
('products', 'unit_price')
('products', 'units_in_stock')
('products', 'units_on_order')
('region', 'region_description')
('region', 'region_id')
('shippers', 'company_name')
('shippers', 'phone')
('shippers', 'shipper_id')
('suppliers', 'adress')
('suppliers', 'city')
('suppliers', 'company_name')
('suppliers', 'contact_name')
('suppliers', 'contact_title')
('suppliers', 'country')
('suppliers', 'fax')
('suppliers', 'home_page')
('suppliers', 'phone')
('suppliers', 'postal_code')
('suppliers', 'region')
('suppliers', 'supplier_id')
('territories', 'region_id')
('territories', 'territory_description')
('territories', 'territory_id')

4.1 Extraed el primer pedido donde se ha gastado más.


Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.
Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.
Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.
Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.

In [9]:

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="118lion27",
  database="northwind") #nos conectamos a la base de datos de northwind

# Iniciamos el cursor y lo almacenamos en una variable llamada "mycursor". 
mycursor = mydb.cursor()
mycursor.execute(('''SELECT  order_id , MAX(quantity*unit_price) AS pedido_mas_caro
                    FROM order_details 
                    ORDER BY unit_price DESC 
                    LIMIT 3;'''))
myresult = mycursor.fetchone() #pedimos que nos enseñe un resultado
print(myresult)

(10248, 15810.0)

4.2 Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.

In [10]:
import pandas as pd
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="118lion27",
  database="northwind")

# Iniciamos el cursor y lo almacenamos en una variable llamada "mycursor". 
mycursor = mydb.cursor()
mycursor.execute('''SELECT  order_id , quantity*unit_price AS precio_pedido_mas_caro
                    FROM order_details 
                    ORDER BY unit_price DESC''')
todoresultado = mycursor.fetchall()

df = pd.DataFrame(todoresultado, columns = ['id','pedido_mas_caro']) #almacenamos en una variable nuestro Data Frame, le damos nombre a las columnas
print(df) #lo printeamos

         id  pedido_mas_caro
0     10518           3952.5
1     10540           7905.0
2     10541           1054.0
3     10616           3952.5
4     10672           3952.5
...     ...              ...
2150  10410             98.0
2151  10414            100.0
2152  10415             40.0
2153  10454             40.0
2154  10473             24.0

[2155 rows x 2 columns]

4.3 Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.

In [11]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="118lion27",
  database="northwind")

# Iniciamos el cursor y lo almacenamos en una variable llamada "mycursor". 
mycursor = mydb.cursor()
mycursor.execute('''SELECT count(order_id), order_date FROM orders GROUP BY order_date''')
pedidos_dia = mycursor.fetchall()

datos_pedidos_dia = pd.DataFrame(pedidos_dia, columns = ['id','fecha'])
datos_pedidos_dia.head() #pedimos que nos muestre los primeros resultados de nuestra consulta

   id      fecha
0   1 1996-07-04
1   1 1996-07-05
2   2 1996-07-08
3   1 1996-07-09
4   1 1996-07-10

4.4 Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.

In [13]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="118lion27",
  database="northwind")

# Iniciamos el cursor y lo almacenamos en una variable llamada "mycursor". 
mycursor = mydb.cursor()
mycursor.execute('''SELECT orders.order_id FROM orders WHERE orders.employee_id IN
                 (SELECT employee_id
				  FROM employees
				 WHERE employees.first_name = 'Nancy' AND employees.last_name = 'Davolio')''')
pedidos_nancy = mycursor.fetchall()
datos_pedidos_nancy = pd.DataFrame(pedidos_nancy, columns = ['id_pedido'])

     id_pedido
0        10258
1        10270
2        10275
3        10285
4        10292
..         ...
118      11064
119      11067
120      11069
121      11071
122      11077

[123 rows x 1 columns]

In [14]:
len(datos_pedidos_nancy) #comprobamos la longitud, tiene 123 filas

123

In [15]:
datos_pedidos_nancy.head(123) #pedimos que nos muestre las 123

     id_pedido
0        10258
1        10270
2        10275
3        10285
4        10292
..         ...
118      11064
119      11067
120      11069
121      11071
122      11077

[123 rows x 1 columns]

5.Para finalizar el ejercicio, desconectad la conexión con el servidor.

In [ ]:
mycursor.close()
mydb.close()