1.Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. ¿Qué BBDD tenemos en nuestro servidor?

In [1]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='118lion27',
                              host='127.0.0.1',
                              database='northwind')

print(cnx)
#cnx.close()

<mysql.connector.connection.MySQLConnection object at 0x0000025E6AC2D5A0>

In [2]:
cursor = cnx.cursor()

In [3]:
#1.para ver la BBDD 
mycursor = cnx.cursor() 

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('ejerciciocreacióntablas',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('mysql',)
('northwind',)
('performance_schema',)
('proyecto1',)
('sakila',)
('spotify',)
('sql_repaso_schema',)
('sys',)
('tienda',)
('world',)

2.Empezemos a explorar la BBDD de Northwind. ¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. Guarda el resultado de los nombres de la tablas en una lista.

In [9]:
mycursor = cnx.cursor()

mycursor.execute("SHOW TABLES")
tablas = []
for x in mycursor:
    list(x)
    tablas.extend(x)

In [10]:
print(tablas)

['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders', 'products', 'region', 'shippers', 'suppliers', 'territories']

3.Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

In [ ]:

cursor = cnx.cursor()

# El siguiente paso consiste en definir la consulta (query) que queremos realizar. 
## Para ello usamos todos los conocimientos sobre SQL que hemos adquirido durante el curso. La consulta se define como un string o cadena de texto.
### La consulta SQL de este ejemplo es sencilla y estática, pero podría incluir variables (lo veremos más adelante). 

query = ("""SELECT city, state FROM customers 
         WHERE customer_number BETWEEN 121 AND 124""")

# Luego llamamos al método execute() del cursor, al que pasamos como argumento el string que contiene la consulta.
## De esta manera se ejecuta la consulta en la base de datos y si todo va correctamente, el resultado se almacenará en el cursor.
cursor.execute(query)

In [28]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="118lion27",
  database="INFORMATION_SCHEMA"
  )

# Iniciamos el cursor y lo almacenamos en una variable llamada "mycursor". 
mycursor = mydb.cursor()

mycursor.execute("SELECT TABLE_NAME, COLUMN_NAME FROM COLUMNS WHERE TABLE_SCHEMA = 'northwind'")

# ejecutamos la query
for x in mycursor:
  print (x)

('categories', 'category_id')
('categories', 'category_name')
('categories', 'description')
('categories', 'picture')
('customer_customer_demo', 'customer_id')
('customer_customer_demo', 'customertype_id')
('customer_demographics', 'customer_desc')
('customer_demographics', 'customer_type_id')
('customers', 'address')
('customers', 'city')
('customers', 'company_name')
('customers', 'contact_name')
('customers', 'contact_title')
('customers', 'country')
('customers', 'customer_id')
('customers', 'fax')
('customers', 'phone')
('customers', 'postal_code')
('customers', 'region')
('employee_territories', 'employee_id')
('employee_territories', 'territory_id')
('employees', 'address')
('employees', 'birth_date')
('employees', 'city')
('employees', 'country')
('employees', 'employee_id')
('employees', 'extension')
('employees', 'first_name')
('employees', 'hire_date')
('employees', 'home_phone')
('employees', 'last_name')
('employees', 'notes')
('employees', 'photo')
('employees', 'photo_path')
('employees', 'postal_code')
('employees', 'region')
('employees', 'reports_to')
('employees', 'title')
('employees', 'title_of_courtesy')
('order_details', 'discount')
('order_details', 'order_id')
('order_details', 'product_id')
('order_details', 'quantity')
('order_details', 'unit_price')
('orders', 'customer_id')
('orders', 'employee_id')
('orders', 'freight')
('orders', 'order_date')
('orders', 'order_id')
('orders', 'required_date')
('orders', 'ship_address')
('orders', 'ship_city')
('orders', 'ship_country')
('orders', 'ship_name')
('orders', 'ship_postal_code')
('orders', 'ship_region')
('orders', 'ship_via')
('orders', 'shipped_date')
('products', 'category_id')
('products', 'discontinued')
('products', 'product_id')
('products', 'product_name')
('products', 'quantity_per_unit')
('products', 'reorder_level')
('products', 'supplier_id')
('products', 'unit_price')
('products', 'units_in_stock')
('products', 'units_on_order')
('region', 'region_description')
('region', 'region_id')
('shippers', 'company_name')
('shippers', 'phone')
('shippers', 'shipper_id')
('suppliers', 'adress')
('suppliers', 'city')
('suppliers', 'company_name')
('suppliers', 'contact_name')
('suppliers', 'contact_title')
('suppliers', 'country')
('suppliers', 'fax')
('suppliers', 'home_page')
('suppliers', 'phone')
('suppliers', 'postal_code')
('suppliers', 'region')
('suppliers', 'supplier_id')
('territories', 'region_id')
('territories', 'territory_description')
('territories', 'territory_id')

NameError: name 'cnx' is not defined

4.1 Extraed el primer pedido donde se ha gastado más.


Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.
Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.
Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.
Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.

In [64]:

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="118lion27",
  database="northwind")

# Iniciamos el cursor y lo almacenamos en una variable llamada "mycursor". 
mycursor = mydb.cursor()
mycursor.execute(('''SELECT  order_id , MAX(quantity*unit_price) AS pedido_mas_caro
                    FROM order_details 
                    ORDER BY unit_price DESC 
                    LIMIT 3;'''))
myresult = mycursor.fetchone()
print(myresult)

(10248, 15810.0)

4.2 Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.

In [51]:

!pip install pandas

Collecting pandas
  Downloading pandas-1.5.2-cp310-cp310-win_amd64.whl (10.4 MB)
     ---------------------------------------- 10.4/10.4 MB 2.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\irene\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.6-py2.py3-none-any.whl (498 kB)
     -------------------------------------- 498.1/498.1 kB 2.0 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.23.5-cp310-cp310-win_amd64.whl (14.6 MB)
     ---------------------------------------- 14.6/14.6 MB 2.2 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\irene\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.5 pandas-1.5.2 pytz-2022.6

  WARNING: The script f2py.exe is installed in 'C:\Users\irene\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: C:\Users\irene\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [61]:
import pandas as pd
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="118lion27",
  database="northwind")

# Iniciamos el cursor y lo almacenamos en una variable llamada "mycursor". 
mycursor = mydb.cursor()
mycursor.execute('''SELECT  order_id , quantity*unit_price AS precio_pedido_mas_caro
                    FROM order_details 
                    ORDER BY unit_price DESC''')
todoresultado = mycursor.fetchall()

df = pd.DataFrame(todoresultado, columns = ['id','pedido_mas_caro'])
print(df)

         id  pedido_mas_caro
0     10518           3952.5
1     10540           7905.0
2     10541           1054.0
3     10616           3952.5
4     10672           3952.5
...     ...              ...
2150  10410             98.0
2151  10414            100.0
2152  10415             40.0
2153  10454             40.0
2154  10473             24.0

[2155 rows x 2 columns]

4.3 Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.

In [ ]:
pedidos_dia = '''SELECT count(order_id), day(order_date) FROM orders GROUP BY order_date'''

In [68]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="118lion27",
  database="northwind")

# Iniciamos el cursor y lo almacenamos en una variable llamada "mycursor". 
mycursor = mydb.cursor()
mycursor.execute('''SELECT count(order_id), order_date FROM orders GROUP BY order_date''')
pedidos_dia = mycursor.fetchall()

datos_pedidos_dia = pd.DataFrame(pedidos_dia, columns = ['id','fecha'])
datos_pedidos_dia.head()

   id      fecha
0   1 1996-07-04
1   1 1996-07-05
2   2 1996-07-08
3   1 1996-07-09
4   1 1996-07-10

4.4 Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.

5.Para finalizar el ejercicio, desconectad la conexión con el servidor.

In [ ]:
config = {
  'user': 'root',
  'password': 'AlumnaAdalab',
  'host': '127.0.0.1',
  'database': 'tienda',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cnx.close()