1.Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. ¿Qué BBDD tenemos en nuestro servidor?

In [19]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

print(cnx)
#cnx.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fead8da2f70>

In [20]:
cursor = cnx.cursor()

In [23]:
from mysql.connector import errorcode
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

except mysql.connector.Error as err:

  
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  
  else:
    print(err)
else:
  #cnx.close()
  pass

In [24]:
#1.para ver la BBDD 
mycursor = cnx.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('bd_alumna',)
('bd_pruebas',)
('creacion_tienda',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('mi_primerita_base_de_datos',)
('mysql',)
('nba_data',)
('northwind',)
('performance_schema',)
('project1',)
('sakila',)
('spotify',)
('sys',)
('tienda',)
('tienda_zapatillas',)
('world',)

2.Empezemos a explorar la BBDD de Northwind. ¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. Guarda el resultado de los nombres de la tablas en una lista.

In [25]:
mycursor = cnx.cursor()

mycursor.execute("SHOW TABLES")
tablas = []
for x in mycursor:


    list(x)
    tablas.extend(x)

In [26]:
print(tablas)

['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders', 'products', 'region', 'shippers', 'suppliers', 'territories']

3.Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

In [ ]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="INFORMATION_SCHEMA"

In [ ]:
mycursor = mydb.cursor()

## ejecutamos nuestra query, especificando de que tabla queremos la información
mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'payments'")

for x in mycursor:
  print(x)
  break

In [30]:
for columna in my_cursor:   # no sé si está bien
    print(columna)

NameError: name 'my_cursor' is not defined

In [31]:


mycursor.execute("SELECT * FROM tablas")

ProgrammingError: 1146 (42S02): Table 'northwind.tablas' doesn't exist

NameError: name 'cnx' is not defined

4.1 Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.

In [14]:

query_max_pedido = ('''SELECT  order_id , MAX(quantity*unit_price) AS pedido_mas_caro
                    FROM order_details 
                    ORDER BY unit_price DESC 
                    LIMIT 3;''')

In [17]:
cursor.execute(query_max_pedido)
myresult = mycursor.fetchone()
print(myresult)

ProgrammingError: 2055: Cursor is not connected

4.2 Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.

In [ ]:
query_max_pedido = ('''SELECT  order_id , MAX(quantity*unit_price) AS pedido_mas_caro
                    FROM order_details 
                    ORDER BY unit_price DESC 
                    LIMIT 3;''')

In [18]:
cursor.execute(query_max_pedido)
myresult = mycursor.fetchall()
print(myresult)

ProgrammingError: 2055: Cursor is not connected

4.3 Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.

In [ ]:
pedidos_dia =

4.4 Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.

5.Para finalizar el ejercicio, desconectad la conexión con el servidor.

In [ ]:
config = {
  'user': 'root',
  'password': 'AlumnaAdalab',
  'host': '127.0.0.1',
  'database': 'tienda',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cnx.close()