Sigamos trabajando con SQL desde nuestro jupyter! En este caso crearemos una BBDD

En el ejercicio de hoy vamos a crear una BBDD, pero esta vez desde Python.

游늷 NOTA Cambiad el nombre de la BBDD a mi_primerita_BBDD_Python 

游늷 NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de c칩digo una y otra vez.

 Para evitar esto, crearos una funci칩n que nos sirva para crear tablas independientemente del contenido de la tabla.
  La funci칩n recibir치 como par치metros:

- Contrase침a de la conexi칩n al servidor.
- Query para crear la tabla.

A modo de recap de lo que conten칤a la BBDD:

- Tabla Zapatillas: tiene 4 columnas: id, modelo, color, talla con las siguientes caracter칤sticas:

    - idZapatillas: es una clave primaria de tipo int, autoincremental y no nula.

    - Modelo: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

    - Color: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

    - Talla: es entero, no nula.

- Tabla Clientes: tiene 9 columnas idcliente, nombre, numero_telefono, email, direccion, ciudad, provincia, pais, codigo_postal con las siguientes caracter칤sticas:

    - idEmpleado: es una clave primaria de tipo int, autoincremental y no nula.

    - Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

    - Numero_telefono: es un entero de longitud m치xima de 9 caracteres, no nula.

    - Email: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

    - Direccion: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

    - Ciudad: es una cadena de caracteres de longitud m치xima de 45 caracteres, puede ser nula.

    - Provincia: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

    - Pais: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

    - Codigo_postal: entero de m치xima longitud 9, no nula.



- Tabla Empleados: tiene 5 columnas idEmpleado, nombre, tienda, salario, fecha_incorporacion con las siguientes caracter칤sticas:

    - idEmpleado: es una clave primaria de tipo int, autoincremental y no nula.

    - Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

    - Tienda: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.

    - salario: es decimal, puede ser nula.

    - fecha_incorporacion: es una columna de tipo date, no nula.


    


- Tabla Facturas: tiene 5 columnas idFactura, idEmpleado, idCliente, fecha, total con las siguientes caracter칤sticas:

    - idFactura: es una clave primaria de tipo int, autoincremental y no nula.

    - idEmpleado: es una clave for치nea de tipo int, no nula.

    - idCliente: es una clave for치nea de tipo int, no nula.

    - idZapatilla: es una clave for치nea de tipo int, no nula.

    - Fecha: es una columna de tipo date, no nula.

    - Total: es decimal, no nula.
    
    
    
    
游늷 NOTA En esta 칰ltima tabla tendremos que incluir todos los CONSTRAINT necesarios para establecer los relaciones entre las tablas, donde tendremos que especificar: Foreign Key References 
Happy coding 游

Crear tabla mi_primerita_base_de_datos

In [2]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_base_de_datos')


mycursor = cnx.cursor()
sql = "create schema mi_primerita_base_de_datos"
try:
    mycursor.execute(sql)
    #mycursor.commit()
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.close()
cnx.close()

1007 (HY000): Can't create database 'mi_primerita_base_de_datos'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'mi_primerita_base_de_datos'; database exists

Crear una funci칩n para crear tablas independientemente del contenido de la tabla

In [19]:
def crear_tablas(contrase침a,query_tabla):
    cnx = mysql.connector.connect(user = 'root', password = contrase침a,
                              host='127.0.0.1', database='mi_primerita_base_de_datos')


    mycursor = cnx.cursor()
    try:
        mycursor.execute(query_tabla)
   
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
        
    mycursor.close()
    cnx.close()

Consulta crear tabla zapatillas

In [21]:

query_zapatillas =( """CREATE TABLE zapatillas (
	id_zapatilla INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    modelo VARCHAR(45) NOT NULL,
    color VARCHAR(45) NOT NULL
	)""")

Llamamos a la funci칩n

In [22]:
crear_tablas('AlumnaAdalab', query_zapatillas)

1050 (42S01): Table 'zapatillas' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'zapatillas' already exists

Consulta crear tabla clientes

In [23]:
query_clientes =(''' CREATE TABLE clientes (
	id_cliente INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    nombre VARCHAR(45) NOT NULL,
    numero_tel칠fono INT(9) NOT NULL,
    email VARCHAR(45) NOT NULL,
    direccion VARCHAR(45) NOT NULL,
    ciudad VARCHAR(45),
    provincia VARCHAR(45) NOT NULL,
    pais VARCHAR(45) NOT NULL,
    codigo_postal VARCHAR(45) NOT NULL
	)''')

LLamamos a la funci칩n

In [24]:
crear_tablas('AlumnaAdalab',query_clientes)

1050 (42S01): Table 'clientes' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'clientes' already exists

Consulta crear tabla empleados

In [25]:
query_empleados = ('''CREATE TABLE empleados (
	id_empleado INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    nombre VARCHAR(45) NOT NULL,
    tienda VARCHAR(45) NOT NULL,
    salario INT,
    fecha_bajo_incorporacion DATE NOT NULL
    )''')

Llamamos a la funci칩n

In [26]:
crear_tablas('AlumnaAdalab', query_empleados)

1050 (42S01): Table 'empleados' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'empleados' already exists

Consulta crear tabla facturas

In [27]:
query_facturas = ('''CREATE TABLE facturas (
	id_factura INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    numero_factura VARCHAR(45) NOT NULL,
    fecha DATE NOT NULL,
    id_zapatilla INT NOT NULL,
    id_empleado INT NOT NULL,
    id_cliente INT NOT NULL,
    CONSTRAINT FK_facturas_zapatillas 
		FOREIGN KEY (id_zapatilla)
	REFERENCES zapatillas(id_zapatilla),
     CONSTRAINT FK_facturas_empleados 
		FOREIGN KEY (id_empleado)
	REFERENCES empleados(id_empleado),
     CONSTRAINT FK_facturas_clientes 
		FOREIGN KEY (id_cliente)
	REFERENCES clientes(id_cliente)
    )''')

In [28]:
crear_tablas('AlumnaAdalab',query_facturas)

1050 (42S01): Table 'facturas' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'facturas' already exists

In [29]:
config = {
  'user': 'root',
  'password': 'AlumnaAdalab',
  'host': '127.0.0.1',
  'database': 'tienda',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cnx.close()